# Dependencies
node_modules/

# Build output
dist/
build/

# Testing and Coverage Reports
playwright-report/
coverage/

# Environment variables
.env
.env.*
!/.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*